[submodule "libkrun"]
	path = libkrun
	url = git@github.com:regularkevvv/libkrun.git
[submodule "libkrunfw"]
	path = libkrunfw
	url = git@github.com:smol-machines/libkrunfw.git
[submodule "smolvm-sdk"]
	path = smolvm-sdk
	url = git@github.com:smol-machines/smolvm-sdk.git
